/* CTown Red*/
/* Text Color*/
/* Light Text Color*/
/* Green Highlight Color*/
.js-openStoreLocator {
  cursor: pointer; }

.DnnModule-TenPoundGorillaMyStore .d-flex, .DnnModule-TenPoundGorillaMyStore .store-locator, .DnnModule-TenPoundGorillaMyStore .store-locator__container__store-list__item, .DnnModule-TenPoundGorillaMyStore .store-locator__container__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.DnnModule-TenPoundGorillaMyStore .flex-direction--column, .DnnModule-TenPoundGorillaMyStore .store-locator__container__cta {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
.DnnModule-TenPoundGorillaMyStore .align-content--start, .DnnModule-TenPoundGorillaMyStore .store-locator {
  -webkit-box-align: self-start;
  -ms-flex-align: self-start;
  -ms-grid-row-align: self-start;
  align-items: self-start; }
.DnnModule-TenPoundGorillaMyStore .align-content--center, .DnnModule-TenPoundGorillaMyStore .store-locator__container__store-list__item, .DnnModule-TenPoundGorillaMyStore .store-locator__container__cta {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center; }
.DnnModule-TenPoundGorillaMyStore .justify-content--center, .DnnModule-TenPoundGorillaMyStore .store-locator {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
.DnnModule-TenPoundGorillaMyStore .flex-grow, .DnnModule-TenPoundGorillaMyStore .store-locator__container__store-list__item__details {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
.DnnModule-TenPoundGorillaMyStore .link {
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
  color: #c11b29;
  font-size: 16px;
  -webkit-transition: color 250ms ease-out;
  transition: color 250ms ease-out; }
  .DnnModule-TenPoundGorillaMyStore .link:hover {
    color: #94151f; }
  .DnnModule-TenPoundGorillaMyStore .link:after {
    display: none !important; }
  .DnnModule-TenPoundGorillaMyStore .link.link--button {
    text-decoration: none;
    border: solid 1px #c11b29;
    border-radius: 100px;
    padding: 6px 25px;
    -webkit-transition: background-color, color 250ms ease-out;
    transition: background-color, color 250ms ease-out; }
    .DnnModule-TenPoundGorillaMyStore .link.link--button:hover {
      background-color: #c11b29;
      color: white; }
  .DnnModule-TenPoundGorillaMyStore .link:not(.link--button), .DnnModule-TenPoundGorillaMyStore .link:not(.link--button):hover {
    background-color: transparent !important; }
  .DnnModule-TenPoundGorillaMyStore .link.link--small {
    font-size: 13px; }
  .DnnModule-TenPoundGorillaMyStore .link.link--muted {
    text-decoration: none;
    color: #353535;
    font-family: "gothambook", sans-serif; }
.DnnModule-TenPoundGorillaMyStore .hidden {
  display: none; }
@-webkit-keyframes loader-1 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes loader-1 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes loader-2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(24px, 0);
    transform: translate(24px, 0); } }
@keyframes loader-2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(24px, 0);
    transform: translate(24px, 0); } }
@-webkit-keyframes loader-3 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes loader-3 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
.DnnModule-TenPoundGorillaMyStore .store-locator {
  position: fixed;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 30px; }
  .DnnModule-TenPoundGorillaMyStore .store-locator__container {
    position: relative;
    z-index: 11;
    left: 100vw;
    padding: 30px 15px;
    background-color: white;
    border: solid 3px #666;
    width: 100%;
    max-width: 375px;
    max-height: calc(100% - 60px);
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    -webkit-transition: left 250ms ease-out;
    transition: left 250ms ease-out; }
    .DnnModule-TenPoundGorillaMyStore .store-locator__container__heading {
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 20px; }
    .DnnModule-TenPoundGorillaMyStore .store-locator__container__image {
      text-align: center;
      margin-bottom: 20px; }
      .DnnModule-TenPoundGorillaMyStore .store-locator__container__image img {
        max-width: 100%;
        display: none; }
    .DnnModule-TenPoundGorillaMyStore .store-locator__container__store-search {
      margin-bottom: 10px; }
      .DnnModule-TenPoundGorillaMyStore .store-locator__container__store-search__container label {
        display: block;
        font-size: 12px;
        font-weight: 600; }
      .DnnModule-TenPoundGorillaMyStore .store-locator__container__store-search__container input {
        max-width: 100%;
        width: 100%;
        padding: 8px;
        border-radius: 3px;
        border: solid 1px #666; }
      .DnnModule-TenPoundGorillaMyStore .store-locator__container__store-search__container .store-search--message {
        font-size: 14px;
        line-height: 1.3;
        margin: 10px 0px 0px; }
    .DnnModule-TenPoundGorillaMyStore .store-locator__container__store-list__item {
      padding: 12px; }
      .DnnModule-TenPoundGorillaMyStore .store-locator__container__store-list__item__details__store-address {
        font-size: 12px;
        line-height: 1.3;
        color: #666; }
      .DnnModule-TenPoundGorillaMyStore .store-locator__container__store-list__item__details__distance {
        font-size: 12px;
        line-height: 1.3;
        color: #666; }
      .DnnModule-TenPoundGorillaMyStore .store-locator__container__store-list__item__cta {
        text-align: center;
        min-width: 145px;
        margin-left: 15px; }
        .DnnModule-TenPoundGorillaMyStore .store-locator__container__store-list__item__cta__icon {
          margin: 0 auto 5px auto;
          width: 15px;
          height: 15px;
          background-size: contain;
          background-position: center;
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='512px' height='512px' viewBox='0 0 512 512' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 64 (93537) - https://sketch.com --%3E%3Ctitle%3EShape%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='star' transform='translate(-1.000000, 0.000000)' fill='%23c11b29' fill-rule='nonzero'%3E%3Cpath d='M411.272,512.01601 C409.068874,512.01601 406.850112,511.562144 404.772,510.638771 L256.99088,444.844851 L109.20976,510.638771 C103.741024,513.064582 97.366016,512.21943 92.70976,508.494666 C88.037888,504.75425 85.8504,498.713226 87.022272,492.844362 L119.615872,329.564682 L5.678272,215.427082 C1.5064,211.248458 -0.024864,205.113514 1.678272,199.448106 C3.3813984,193.798346 8.068896,189.54145 13.850144,188.383338 L177.162784,155.658538 L242.365984,8.7020576 C247.52224,-2.8791584 266.459744,-2.8791584 271.616,8.7020576 L336.8192,155.658538 L500.13184,188.383338 C505.913088,189.541466 510.600576,193.798346 512.303712,199.448106 C514.006838,205.113514 512.475587,211.248458 508.303712,215.427082 L394.366112,329.564682 L426.959712,492.844362 C428.131587,498.713226 425.944086,504.75425 421.272224,508.494666 C418.381597,510.810922 414.83472,512.01601 411.272224,512.01601 L411.272,512.01601 Z M256.99072,411.27488 C259.209469,411.27488 261.428224,411.728736 263.49072,412.652109 L389.52208,468.774029 L361.303328,327.436109 C360.256454,322.177613 361.897078,316.746957 365.678336,312.959565 L464.537856,213.940045 L322.428416,185.456493 C317.334656,184.439216 313.053408,181.011789 310.944032,176.254093 L256.990752,54.6668928 L203.037472,176.254093 C200.928096,181.011789 196.646848,184.439213 191.553088,185.456493 L49.443648,213.940045 L148.303168,312.959565 C152.084416,316.746957 153.725056,322.177613 152.678176,327.436109 L124.459424,468.774029 L250.490784,412.652109 C252.55328,411.728739 254.772032,411.27488 256.990784,411.27488 L256.99072,411.27488 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
    .DnnModule-TenPoundGorillaMyStore .store-locator__container__loading-dialog {
      overflow: hidden; }
      .DnnModule-TenPoundGorillaMyStore .store-locator__container__loading-dialog .loader {
        display: block;
        margin: 0 auto;
        position: relative;
        width: 80px;
        height: 40px !important;
        overflow: hidden; }
        .DnnModule-TenPoundGorillaMyStore .store-locator__container__loading-dialog .loader:before, .DnnModule-TenPoundGorillaMyStore .store-locator__container__loading-dialog .loader:after {
          display: none; }
        .DnnModule-TenPoundGorillaMyStore .store-locator__container__loading-dialog .loader div {
          position: absolute;
          top: 16px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: #c11b29;
          -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0); }
          .DnnModule-TenPoundGorillaMyStore .store-locator__container__loading-dialog .loader div:before, .DnnModule-TenPoundGorillaMyStore .store-locator__container__loading-dialog .loader div:after {
            display: none; }
          .DnnModule-TenPoundGorillaMyStore .store-locator__container__loading-dialog .loader div:nth-child(1) {
            left: 8px;
            -webkit-animation: loader-1 0.6s infinite;
            animation: loader-1 0.6s infinite; }
          .DnnModule-TenPoundGorillaMyStore .store-locator__container__loading-dialog .loader div:nth-child(2) {
            left: 8px;
            -webkit-animation: loader-2 0.6s infinite;
            animation: loader-2 0.6s infinite; }
          .DnnModule-TenPoundGorillaMyStore .store-locator__container__loading-dialog .loader div:nth-child(3) {
            left: 32px;
            -webkit-animation: loader-2 0.6s infinite;
            animation: loader-2 0.6s infinite; }
          .DnnModule-TenPoundGorillaMyStore .store-locator__container__loading-dialog .loader div:nth-child(4) {
            left: 56px;
            -webkit-animation: loader-3 0.6s infinite;
            animation: loader-3 0.6s infinite; }
      .DnnModule-TenPoundGorillaMyStore .store-locator__container__loading-dialog p {
        font-size: 13px;
        text-align: center;
        line-height: 1.3;
        margin: 0px; }
    .DnnModule-TenPoundGorillaMyStore .store-locator__container__dynamic-result-msg {
      margin-bottom: 20px; }
      .DnnModule-TenPoundGorillaMyStore .store-locator__container__dynamic-result-msg p {
        text-align: center;
        font-size: 11px;
        line-height: 1.3;
        color: #666; }
        .DnnModule-TenPoundGorillaMyStore .store-locator__container__dynamic-result-msg p .store-name {
          display: inline-block; }
    .DnnModule-TenPoundGorillaMyStore .store-locator__container__cta .link {
      margin-bottom: 8px; }
      .DnnModule-TenPoundGorillaMyStore .store-locator__container__cta .link:last-child {
        margin-bottom: 0px; }
    .DnnModule-TenPoundGorillaMyStore .store-locator__container--search .store-locator__container__store-list {
      max-height: 30vh;
      overflow-y: scroll;
      overflow-x: hidden; }
      .DnnModule-TenPoundGorillaMyStore .store-locator__container--search .store-locator__container__store-list__item.active {
        background-color: #F0FEED; }
  .DnnModule-TenPoundGorillaMyStore .store-locator__mask {
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    -webkit-transition: background-color 250ms ease-out;
    transition: background-color 250ms ease-out; }
  .DnnModule-TenPoundGorillaMyStore .store-locator.open {
    z-index: 99999; }
    .DnnModule-TenPoundGorillaMyStore .store-locator.open .store-locator__container.open {
      left: 0px; }
    .DnnModule-TenPoundGorillaMyStore .store-locator.open .store-locator__mask {
      background-color: rgba(0, 0, 0, 0.25); }
  .DnnModule-TenPoundGorillaMyStore .store-locator[data-portal="0"] .store-locator__container__image .portal-0 {
    display: block; }
  .DnnModule-TenPoundGorillaMyStore .store-locator[data-portal="1"] .store-locator__container__image .portal-1 {
    display: block; }

/* Portal Color Overrides
---------------------------------------*/
.store-locator[data-portal="1"] .link.link--button {
  color: #094FA3;
  border-color: #094FA3; }
  .store-locator[data-portal="1"] .link.link--button:hover {
    border-color: #0C204A;
    background-color: #0C204A;
    color: white; }
.store-locator[data-portal="1"] .set-favorite-store,
.store-locator[data-portal="1"] .close-store-locator {
  color: #094FA3; }
.store-locator[data-portal="1"] .store-locator__container__store-list__item__cta__icon {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='512px' height='512px' viewBox='0 0 512 512' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 64 (93537) - https://sketch.com --%3E%3Ctitle%3EShape%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='star' transform='translate(-1.000000, 0.000000)' fill='%23094FA3' fill-rule='nonzero'%3E%3Cpath d='M411.272,512.01601 C409.068874,512.01601 406.850112,511.562144 404.772,510.638771 L256.99088,444.844851 L109.20976,510.638771 C103.741024,513.064582 97.366016,512.21943 92.70976,508.494666 C88.037888,504.75425 85.8504,498.713226 87.022272,492.844362 L119.615872,329.564682 L5.678272,215.427082 C1.5064,211.248458 -0.024864,205.113514 1.678272,199.448106 C3.3813984,193.798346 8.068896,189.54145 13.850144,188.383338 L177.162784,155.658538 L242.365984,8.7020576 C247.52224,-2.8791584 266.459744,-2.8791584 271.616,8.7020576 L336.8192,155.658538 L500.13184,188.383338 C505.913088,189.541466 510.600576,193.798346 512.303712,199.448106 C514.006838,205.113514 512.475587,211.248458 508.303712,215.427082 L394.366112,329.564682 L426.959712,492.844362 C428.131587,498.713226 425.944086,504.75425 421.272224,508.494666 C418.381597,510.810922 414.83472,512.01601 411.272224,512.01601 L411.272,512.01601 Z M256.99072,411.27488 C259.209469,411.27488 261.428224,411.728736 263.49072,412.652109 L389.52208,468.774029 L361.303328,327.436109 C360.256454,322.177613 361.897078,316.746957 365.678336,312.959565 L464.537856,213.940045 L322.428416,185.456493 C317.334656,184.439216 313.053408,181.011789 310.944032,176.254093 L256.990752,54.6668928 L203.037472,176.254093 C200.928096,181.011789 196.646848,184.439213 191.553088,185.456493 L49.443648,213.940045 L148.303168,312.959565 C152.084416,316.746957 153.725056,322.177613 152.678176,327.436109 L124.459424,468.774029 L250.490784,412.652109 C252.55328,411.728739 254.772032,411.27488 256.990784,411.27488 L256.99072,411.27488 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }

/* Google API List Results
---------------------------------------*/
.pac-container {
  z-index: 99999; }

/*# sourceMappingURL=module.css.map */
